:root {
  --bg-color-body: #181818; 
  --bg-color-container: #282828; 
  --text-color: #d3d3d3; 
}

[data-theme="light"] {
  --bg-color-body: #f0f0f0; 
  --bg-color-container: #ffffff; 
  --text-color: #333; 
}